@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #EDF3F8;
  --foreground: #36536B;
  --font-sans: "Inter", sans-serif;
  --font-serif: "Playfair Display", serif;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-sans); /* Default font */
}

.serif {
  font-family: var(--font-serif); /* Apply serif font */
}